<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>geode.loader/category-bg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{255,155}</string>
				<key>spriteSourceSize</key>
				<string>{255,155}</string>
				<key>textureRect</key>
				<string>{{1268,986},{255,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/category-dot.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{155,155}</string>
				<key>spriteSourceSize</key>
				<string>{155,155}</string>
				<key>textureRect</key>
				<string>{{1651,0},{155,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/changelog.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,103}</string>
				<key>spriteSourceSize</key>
				<string>{81,103}</string>
				<key>textureRect</key>
				<string>{{1568,1265},{81,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/close.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>textureRect</key>
				<string>{{1568,1347},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/delete-white.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{71,100}</string>
				<key>spriteSourceSize</key>
				<string>{72,100}</string>
				<key>textureRect</key>
				<string>{{1404,893},{71,100}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/double-nav.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,-10.5}</string>
				<key>spriteSize</key>
				<string>{176,239}</string>
				<key>spriteSourceSize</key>
				<string>{178,262}</string>
				<key>textureRect</key>
				<string>{{242,1300},{176,239}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/download.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{170,195}</string>
				<key>spriteSourceSize</key>
				<string>{170,195}</string>
				<key>textureRect</key>
				<string>{{431,1477},{170,195}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/exclamation-red.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,114}</string>
				<key>spriteSourceSize</key>
				<string>{56,114}</string>
				<key>textureRect</key>
				<string>{{936,1646},{56,114}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/exclamation.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,120}</string>
				<key>spriteSourceSize</key>
				<string>{39,120}</string>
				<key>textureRect</key>
				<string>{{602,1660},{39,120}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/external-link.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>textureRect</key>
				<string>{{1404,764},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/file-add.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{190,241}</string>
				<key>spriteSourceSize</key>
				<string>{190,243}</string>
				<key>textureRect</key>
				<string>{{0,1300},{190,241}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/file.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,118}</string>
				<key>spriteSourceSize</key>
				<string>{94,118}</string>
				<key>textureRect</key>
				<string>{{1663,737},{94,118}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/geode-list-side.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,120}</string>
				<key>spriteSourceSize</key>
				<string>{8,120}</string>
				<key>textureRect</key>
				<string>{{783,1473},{8,120}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/geode-list-top.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1374,64}</string>
				<key>spriteSourceSize</key>
				<string>{1374,64}</string>
				<key>textureRect</key>
				<string>{{0,764},{1374,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/gift.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{121,121}</string>
				<key>spriteSourceSize</key>
				<string>{126,126}</string>
				<key>textureRect</key>
				<string>{{1651,382},{121,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/github.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{121,121}</string>
				<key>spriteSourceSize</key>
				<string>{126,126}</string>
				<key>textureRect</key>
				<string>{{1541,1140},{121,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/globe.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0}</string>
				<key>spriteSize</key>
				<string>{180,181}</string>
				<key>spriteSourceSize</key>
				<string>{181,181}</string>
				<key>textureRect</key>
				<string>{{602,1300},{180,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/grid-view.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,92}</string>
				<key>textureRect</key>
				<string>{{1671,1469},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/homepage.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{121,119}</string>
				<key>spriteSourceSize</key>
				<string>{126,126}</string>
				<key>textureRect</key>
				<string>{{1663,504},{121,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/hue-sliders.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{175,177}</string>
				<key>spriteSourceSize</key>
				<string>{179,179}</string>
				<key>textureRect</key>
				<string>{{602,1482},{175,177}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/info-alert.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,94}</string>
				<key>textureRect</key>
				<string>{{1675,1562},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/info-warning.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{114,99}</string>
				<key>spriteSourceSize</key>
				<string>{114,114}</string>
				<key>textureRect</key>
				<string>{{1663,832},{114,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/install.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{79,91}</string>
				<key>spriteSourceSize</key>
				<string>{94,94}</string>
				<key>textureRect</key>
				<string>{{431,1700},{79,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/message.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,112}</string>
				<key>spriteSourceSize</key>
				<string>{120,112}</string>
				<key>textureRect</key>
				<string>{{1663,624},{120,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/mods-list-bottom-gd.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1556,140}</string>
				<key>spriteSourceSize</key>
				<string>{1556,140}</string>
				<key>textureRect</key>
				<string>{{0,482},{1556,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/mods-list-bottom.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1556,140}</string>
				<key>spriteSourceSize</key>
				<string>{1556,140}</string>
				<key>textureRect</key>
				<string>{{0,623},{1556,140}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/mods-list-side-gd.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,256}</string>
				<key>spriteSourceSize</key>
				<string>{66,256}</string>
				<key>textureRect</key>
				<string>{{1557,482},{66,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/mods-list-side.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,256}</string>
				<key>spriteSourceSize</key>
				<string>{66,256}</string>
				<key>textureRect</key>
				<string>{{1557,739},{66,256}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/mods-list-top-gd.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1650,240}</string>
				<key>spriteSourceSize</key>
				<string>{1650,240}</string>
				<key>textureRect</key>
				<string>{{0,0},{1650,240}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/mods-list-top.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1650,240}</string>
				<key>spriteSourceSize</key>
				<string>{1650,240}</string>
				<key>textureRect</key>
				<string>{{0,241},{1650,240}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/news.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,94}</string>
				<key>spriteSourceSize</key>
				<string>{82,94}</string>
				<key>textureRect</key>
				<string>{{1669,1374},{82,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/persistent.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,1}</string>
				<key>spriteSize</key>
				<string>{124,98}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>textureRect</key>
				<string>{{1651,283},{124,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/reload.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,115}</string>
				<key>spriteSourceSize</key>
				<string>{129,115}</string>
				<key>textureRect</key>
				<string>{{482,1300},{129,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/reset-gold.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,5}</string>
				<key>spriteSize</key>
				<string>{110,106}</string>
				<key>spriteSourceSize</key>
				<string>{122,122}</string>
				<key>textureRect</key>
				<string>{{1663,1158},{110,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/reset.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,5}</string>
				<key>spriteSize</key>
				<string>{110,106}</string>
				<key>spriteSourceSize</key>
				<string>{122,122}</string>
				<key>textureRect</key>
				<string>{{1564,1473},{110,106}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/save.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{108,108}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>textureRect</key>
				<string>{{1675,1265},{108,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/search.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{209,212}</string>
				<key>spriteSourceSize</key>
				<string>{209,212}</string>
				<key>textureRect</key>
				<string>{{221,1491},{209,212}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/settings.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,126}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>textureRect</key>
				<string>{{1651,156},{126,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tab-bg.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{220,220}</string>
				<key>spriteSourceSize</key>
				<string>{220,220}</string>
				<key>textureRect</key>
				<string>{{0,1491},{220,220}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-api.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{173,157}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{778,1482},{173,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-featured.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{783,1300},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-joke.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{936,1473},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-modtober-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{701,156}</string>
				<key>spriteSourceSize</key>
				<string>{703,156}</string>
				<key>textureRect</key>
				<string>{{0,829},{701,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-modtober-winner-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{565,156}</string>
				<key>spriteSourceSize</key>
				<string>{565,157}</string>
				<key>textureRect</key>
				<string>{{702,986},{565,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-modtober-winner.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{940,1300},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-modtober.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{1093,1473},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-modtober24-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{701,156}</string>
				<key>spriteSourceSize</key>
				<string>{703,156}</string>
				<key>textureRect</key>
				<string>{{702,829},{701,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-modtober24-winner-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{565,156}</string>
				<key>spriteSourceSize</key>
				<string>{565,157}</string>
				<key>textureRect</key>
				<string>{{0,1143},{565,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-modtober24-winner.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{1097,1300},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-modtober24.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{1250,1473},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-modtober25-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{701,156}</string>
				<key>spriteSourceSize</key>
				<string>{703,156}</string>
				<key>textureRect</key>
				<string>{{0,986},{701,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-modtober25-winner-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{565,156}</string>
				<key>spriteSourceSize</key>
				<string>{567,156}</string>
				<key>textureRect</key>
				<string>{{566,1143},{565,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-modtober25-winner.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{1254,1300},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-modtober25.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{1407,1473},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/tag-paid-long.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{408,156}</string>
				<key>spriteSourceSize</key>
				<string>{408,157}</string>
				<key>textureRect</key>
				<string>{{1132,1143},{408,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/tag-paid.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{172,156}</string>
				<key>spriteSourceSize</key>
				<string>{173,157}</string>
				<key>textureRect</key>
				<string>{{1411,1300},{172,156}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/update.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{143,115}</string>
				<key>spriteSourceSize</key>
				<string>{143,115}</string>
				<key>textureRect</key>
				<string>{{1524,996},{143,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/updates-available.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,110}</string>
				<key>spriteSourceSize</key>
				<string>{116,116}</string>
				<key>textureRect</key>
				<string>{{1564,1584},{110,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/updates-failed.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,112}</string>
				<key>spriteSourceSize</key>
				<string>{116,116}</string>
				<key>textureRect</key>
				<string>{{1663,932},{112,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/updates-installed.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,112}</string>
				<key>spriteSourceSize</key>
				<string>{116,116}</string>
				<key>textureRect</key>
				<string>{{1663,1045},{112,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/version.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,100}</string>
				<key>spriteSourceSize</key>
				<string>{65,100}</string>
				<key>textureRect</key>
				<string>{{1051,1646},{65,100}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>geode.loader/APISheet-uhd.png</string>
			<key>size</key>
			<string>{1806,1791}</string>
			<key>textureFileName</key>
			<string>geode.loader/APISheet-uhd.png</string>
		</dict>
	</dict>
</plist>