<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest_01_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{397,320}</string>
				<key>spriteSourceSize</key>
				<string>{397,321}</string>
				<key>textureRect</key>
				<string>{{2533,970},{397,320}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{385,308}</string>
				<key>spriteSourceSize</key>
				<string>{385,309}</string>
				<key>textureRect</key>
				<string>{{2533,1368},{385,308}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,4}</string>
				<key>spriteSize</key>
				<string>{385,314}</string>
				<key>spriteSourceSize</key>
				<string>{385,322}</string>
				<key>textureRect</key>
				<string>{{0,2583},{385,314}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,15}</string>
				<key>spriteSize</key>
				<string>{303,26}</string>
				<key>spriteSourceSize</key>
				<string>{303,56}</string>
				<key>textureRect</key>
				<string>{{1107,3096},{303,26}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,58.5}</string>
				<key>spriteSize</key>
				<string>{651,133}</string>
				<key>spriteSourceSize</key>
				<string>{654,250}</string>
				<key>textureRect</key>
				<string>{{0,1132},{651,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-71.5}</string>
				<key>spriteSize</key>
				<string>{385,163}</string>
				<key>spriteSourceSize</key>
				<string>{385,306}</string>
				<key>textureRect</key>
				<string>{{448,2503},{385,163}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,66.5}</string>
				<key>spriteSize</key>
				<string>{322,195}</string>
				<key>spriteSourceSize</key>
				<string>{324,328}</string>
				<key>textureRect</key>
				<string>{{2847,1368},{322,195}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,66.5}</string>
				<key>spriteSize</key>
				<string>{295,149}</string>
				<key>spriteSourceSize</key>
				<string>{295,282}</string>
				<key>textureRect</key>
				<string>{{2445,2581},{295,149}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1}</string>
				<key>spriteSize</key>
				<string>{497,400}</string>
				<key>spriteSourceSize</key>
				<string>{498,402}</string>
				<key>textureRect</key>
				<string>{{0,1266},{497,400}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{481,385}</string>
				<key>spriteSourceSize</key>
				<string>{482,388}</string>
				<key>textureRect</key>
				<string>{{1688,0},{481,385}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{1555,490},{481,392}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{612,2503},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,0},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{1555,883},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2289,1446},{404,243}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{1338,2581},{368,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{481,385}</string>
				<key>spriteSourceSize</key>
				<string>{482,388}</string>
				<key>textureRect</key>
				<string>{{1555,1088},{481,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{1554,1474},{481,392}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{673,2503},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,168},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{1467,1867},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2431,1851},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{1707,2581},{368,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,1.5}</string>
				<key>spriteSize</key>
				<string>{481,385}</string>
				<key>spriteSourceSize</key>
				<string>{482,388}</string>
				<key>textureRect</key>
				<string>{{2074,0},{481,385}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{2037,482},{481,392}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{734,2503},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,336},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{1949,1867},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2430,482},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{2076,2581},{368,186}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{488,385}</string>
				<key>spriteSourceSize</key>
				<string>{488,388}</string>
				<key>textureRect</key>
				<string>{{1065,1238},{488,385}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,5}</string>
				<key>spriteSize</key>
				<string>{481,392}</string>
				<key>spriteSourceSize</key>
				<string>{482,402}</string>
				<key>textureRect</key>
				<string>{{2037,964},{481,392}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{378,60}</string>
				<key>spriteSourceSize</key>
				<string>{378,98}</string>
				<key>textureRect</key>
				<string>{{795,2503},{378,60}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,73.5}</string>
				<key>spriteSize</key>
				<string>{814,167}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,504},{814,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{0,2086},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83.5}</string>
				<key>spriteSize</key>
				<string>{404,243}</string>
				<key>spriteSourceSize</key>
				<string>{404,410}</string>
				<key>textureRect</key>
				<string>{{2430,726},{404,243}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,83}</string>
				<key>spriteSize</key>
				<string>{368,186}</string>
				<key>spriteSourceSize</key>
				<string>{368,352}</string>
				<key>textureRect</key>
				<string>{{2857,0},{368,186}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,18}</string>
				<key>spriteSize</key>
				<string>{488,418}</string>
				<key>spriteSourceSize</key>
				<string>{488,454}</string>
				<key>textureRect</key>
				<string>{{0,1667},{488,418}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,15}</string>
				<key>spriteSize</key>
				<string>{489,412}</string>
				<key>spriteSourceSize</key>
				<string>{494,442}</string>
				<key>textureRect</key>
				<string>{{652,1132},{489,412}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{378,104}</string>
				<key>spriteSourceSize</key>
				<string>{378,110}</string>
				<key>textureRect</key>
				<string>{{2742,2095},{378,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,672},{814,229}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{482,2086},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,77.5}</string>
				<key>spriteSize</key>
				<string>{447,291}</string>
				<key>spriteSourceSize</key>
				<string>{448,446}</string>
				<key>textureRect</key>
				<string>{{0,2291},{447,291}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,55}</string>
				<key>spriteSize</key>
				<string>{368,228}</string>
				<key>spriteSourceSize</key>
				<string>{368,338}</string>
				<key>textureRect</key>
				<string>{{0,2898},{368,228}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,18}</string>
				<key>spriteSize</key>
				<string>{488,418}</string>
				<key>spriteSourceSize</key>
				<string>{488,454}</string>
				<key>textureRect</key>
				<string>{{489,1667},{488,418}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,15}</string>
				<key>spriteSize</key>
				<string>{489,412}</string>
				<key>spriteSourceSize</key>
				<string>{494,442}</string>
				<key>textureRect</key>
				<string>{{1275,0},{489,412}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{378,104}</string>
				<key>spriteSourceSize</key>
				<string>{378,110}</string>
				<key>textureRect</key>
				<string>{{2742,2474},{378,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{815,0},{814,229}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{964,2086},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,76.5}</string>
				<key>spriteSize</key>
				<string>{447,293}</string>
				<key>spriteSourceSize</key>
				<string>{448,446}</string>
				<key>textureRect</key>
				<string>{{1446,2277},{447,293}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,50}</string>
				<key>spriteSize</key>
				<string>{368,218}</string>
				<key>spriteSourceSize</key>
				<string>{368,318}</string>
				<key>textureRect</key>
				<string>{{369,2898},{368,218}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,22.5}</string>
				<key>spriteSize</key>
				<string>{488,427}</string>
				<key>spriteSourceSize</key>
				<string>{488,472}</string>
				<key>textureRect</key>
				<string>{{978,1624},{488,427}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2.5,20}</string>
				<key>spriteSize</key>
				<string>{489,422}</string>
				<key>spriteSourceSize</key>
				<string>{494,462}</string>
				<key>textureRect</key>
				<string>{{1065,815},{489,422}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-3}</string>
				<key>spriteSize</key>
				<string>{378,104}</string>
				<key>spriteSourceSize</key>
				<string>{378,110}</string>
				<key>textureRect</key>
				<string>{{856,2503},{378,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{0,902},{814,229}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-89}</string>
				<key>spriteSize</key>
				<string>{481,204}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{1446,2072},{481,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,72.5}</string>
				<key>spriteSize</key>
				<string>{447,301}</string>
				<key>spriteSourceSize</key>
				<string>{448,446}</string>
				<key>textureRect</key>
				<string>{{1894,2277},{447,301}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,53}</string>
				<key>spriteSize</key>
				<string>{368,224}</string>
				<key>spriteSourceSize</key>
				<string>{368,330}</string>
				<key>textureRect</key>
				<string>{{738,2882},{368,224}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_09_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-2}</string>
				<key>spriteSize</key>
				<string>{441,396}</string>
				<key>spriteSourceSize</key>
				<string>{441,400}</string>
				<key>textureRect</key>
				<string>{{2460,0},{441,396}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,0.5}</string>
				<key>spriteSize</key>
				<string>{436,399}</string>
				<key>spriteSourceSize</key>
				<string>{441,404}</string>
				<key>textureRect</key>
				<string>{{2342,2144},{436,399}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,42.5}</string>
				<key>spriteSize</key>
				<string>{814,229}</string>
				<key>spriteSourceSize</key>
				<string>{818,314}</string>
				<key>textureRect</key>
				<string>{{1045,0},{814,229}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-85.5}</string>
				<key>spriteSize</key>
				<string>{435,211}</string>
				<key>spriteSourceSize</key>
				<string>{482,382}</string>
				<key>textureRect</key>
				<string>{{448,2291},{435,211}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_09_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,80}</string>
				<key>spriteSize</key>
				<string>{418,251}</string>
				<key>spriteSourceSize</key>
				<string>{424,425}</string>
				<key>textureRect</key>
				<string>{{2037,1446},{418,251}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,53}</string>
				<key>spriteSize</key>
				<string>{368,224}</string>
				<key>spriteSourceSize</key>
				<string>{368,330}</string>
				<key>textureRect</key>
				<string>{{1107,2871},{368,224}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_glow_bg_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-266,-36}</string>
				<key>spriteSize</key>
				<string>{202,92}</string>
				<key>spriteSourceSize</key>
				<string>{734,164}</string>
				<key>textureRect</key>
				<string>{{2533,1754},{202,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_shadow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{478,71}</string>
				<key>spriteSourceSize</key>
				<string>{478,72}</string>
				<key>textureRect</key>
				<string>{{1928,2072},{478,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest03_small_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-2}</string>
				<key>spriteSize</key>
				<string>{121,100}</string>
				<key>spriteSourceSize</key>
				<string>{122,104}</string>
				<key>textureRect</key>
				<string>{{2430,970},{121,100}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>getOrbsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-8}</string>
				<key>spriteSize</key>
				<string>{221,148}</string>
				<key>spriteSourceSize</key>
				<string>{222,164}</string>
				<key>textureRect</key>
				<string>{{498,1266},{221,148}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>gj_videoRewardBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-2,0.5}</string>
				<key>spriteSize</key>
				<string>{376,289}</string>
				<key>spriteSourceSize</key>
				<string>{380,290}</string>
				<key>textureRect</key>
				<string>{{961,2581},{376,289}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>plushies_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8,3}</string>
				<key>spriteSize</key>
				<string>{372,208}</string>
				<key>spriteSourceSize</key>
				<string>{392,218}</string>
				<key>textureRect</key>
				<string>{{884,2291},{372,208}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-99.5}</string>
				<key>spriteSize</key>
				<string>{186,265}</string>
				<key>spriteSourceSize</key>
				<string>{196,464}</string>
				<key>textureRect</key>
				<string>{{2857,369},{186,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope2_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{1338,2768},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{6,-99.5}</string>
				<key>spriteSize</key>
				<string>{168,265}</string>
				<key>spriteSourceSize</key>
				<string>{180,464}</string>
				<key>textureRect</key>
				<string>{{1476,2853},{168,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope3_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{1392,2768},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope4_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-99.5}</string>
				<key>spriteSize</key>
				<string>{166,265}</string>
				<key>spriteSourceSize</key>
				<string>{176,464}</string>
				<key>textureRect</key>
				<string>{{1645,2853},{166,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope4_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{1446,2768},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{9.5,-99.5}</string>
				<key>spriteSize</key>
				<string>{185,265}</string>
				<key>spriteSourceSize</key>
				<string>{204,464}</string>
				<key>textureRect</key>
				<string>{{1257,2291},{185,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5.5,0}</string>
				<key>spriteSize</key>
				<string>{53,84}</string>
				<key>spriteSourceSize</key>
				<string>{64,84}</string>
				<key>textureRect</key>
				<string>{{1500,2768},{53,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_ShopSheet-uhd.png</string>
			<key>size</key>
			<string>{3043,3126}</string>
			<key>textureFileName</key>
			<string>GJ_ShopSheet-uhd.png</string>
		</dict>
	</dict>
</plist>