<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBackground_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{160,160}</string>
			<key>spriteSourceSize</key>
			<string>{160,160}</string>
			<key>textureRect</key>
			<string>{{0,0},{160,160}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBackground_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,320}</string>
			<key>spriteSourceSize</key>
			<string>{30,320}</string>
			<key>textureRect</key>
			<string>{{162,0},{30,320}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBottom_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{778,87}</string>
			<key>spriteSourceSize</key>
			<string>{778,103}</string>
			<key>textureRect</key>
			<string>{{0,162},{778,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderBottom_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{778,87}</string>
			<key>spriteSourceSize</key>
			<string>{778,103}</string>
			<key>textureRect</key>
			<string>{{0,251},{778,87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderSide_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,0}</string>
			<key>spriteSize</key>
			<string>{46,128}</string>
			<key>spriteSourceSize</key>
			<string>{59,128}</string>
			<key>textureRect</key>
			<string>{{0,340},{46,128}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderTop_001.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{788,90}</string>
			<key>spriteSourceSize</key>
			<string>{788,107}</string>
			<key>textureRect</key>
			<string>{{0,388},{788,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>spaghettdev.gd-roulette/RL_listBorderTop_002.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-7}</string>
			<key>spriteSize</key>
			<string>{788,90}</string>
			<key>spriteSourceSize</key>
			<string>{788,107}</string>
			<key>textureRect</key>
			<string>{{0,480},{788,90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>spaghettdev.gd-roulette/ListBorder-hd.png</string>
		<key>size</key>
		<string>{788,570}</string>
		<key>textureFileName</key>
		<string>spaghettdev.gd-roulette/ListBorder-hd.png</string>
	</dict>
</dict>
</plist>