<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>uproxide.textures/TWS_Background.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1280,720}</string>
				<key>spriteSourceSize</key>
				<string>{1280,720}</string>
				<key>textureRect</key>
				<string>{{0,0},{1280,720}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_Credits.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,0.5}</string>
				<key>spriteSize</key>
				<string>{85,83}</string>
				<key>spriteSourceSize</key>
				<string>{88,84}</string>
				<key>textureRect</key>
				<string>{{989,976},{85,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.textures/TWS_DeleteButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,94}</string>
				<key>textureRect</key>
				<string>{{1152,884},{91,92}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.textures/TWS_DownloadButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,94}</string>
				<key>textureRect</key>
				<string>{{711,1070},{91,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_Featured.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{277,277}</string>
				<key>spriteSourceSize</key>
				<string>{277,277}</string>
				<key>textureRect</key>
				<string>{{711,792},{277,277}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_FileButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,94}</string>
				<key>textureRect</key>
				<string>{{803,1070},{91,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_InfoButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,94}</string>
				<key>textureRect</key>
				<string>{{895,1070},{91,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_Logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{574,70}</string>
				<key>spriteSourceSize</key>
				<string>{574,70}</string>
				<key>textureRect</key>
				<string>{{651,721},{574,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_MainButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{91,97}</string>
				<key>spriteSourceSize</key>
				<string>{91,97}</string>
				<key>textureRect</key>
				<string>{{1152,792},{91,97}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.textures/TWS_Outline.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{650,508}</string>
				<key>spriteSourceSize</key>
				<string>{650,508}</string>
				<key>textureRect</key>
				<string>{{0,721},{650,508}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_PlaceholderLogo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{162,162}</string>
				<key>spriteSourceSize</key>
				<string>{168,168}</string>
				<key>textureRect</key>
				<string>{{989,792},{162,162}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_RefreshButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{92,94}</string>
				<key>textureRect</key>
				<string>{{987,1070},{91,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_SearchButton.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,1}</string>
				<key>spriteSize</key>
				<string>{37,35}</string>
				<key>spriteSourceSize</key>
				<string>{39,37}</string>
				<key>textureRect</key>
				<string>{{1245,884},{37,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>uproxide.textures/TWS_Update.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{36,85}</string>
				<key>spriteSourceSize</key>
				<string>{38,87}</string>
				<key>textureRect</key>
				<string>{{1073,976},{36,85}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>uproxide.textures/TWS_Workshop.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{382,59}</string>
				<key>spriteSourceSize</key>
				<string>{382,59}</string>
				<key>textureRect</key>
				<string>{{651,792},{382,59}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>uproxide.textures/TWSSheet-hd.png</string>
			<key>size</key>
			<string>{1280,1229}</string>
			<key>textureFileName</key>
			<string>uproxide.textures/TWSSheet-hd.png</string>
		</dict>
	</dict>
</plist>