<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>alk.editor-collab-ui/AlternateMenuButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{210,213}</string>
			<key>spriteSourceSize</key>
			<string>{214,220}</string>
			<key>textureRect</key>
			<string>{{0,0},{210,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/BanIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{120,120}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{215,0},{120,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/BuyPromo.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{1680,1120}</string>
			<key>spriteSourceSize</key>
			<string>{1680,1120}</string>
			<key>textureRect</key>
			<string>{{0,212},{1680,1120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/CornerCyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,278}</string>
			<key>spriteSourceSize</key>
			<string>{280,278}</string>
			<key>textureRect</key>
			<string>{{0,1334},{280,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/CornerGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,278}</string>
			<key>spriteSourceSize</key>
			<string>{280,278}</string>
			<key>textureRect</key>
			<string>{{282,1334},{280,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/CornerPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,278}</string>
			<key>spriteSourceSize</key>
			<string>{280,278}</string>
			<key>textureRect</key>
			<string>{{564,1334},{280,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/CornerRed.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{280,278}</string>
			<key>spriteSourceSize</key>
			<string>{280,278}</string>
			<key>textureRect</key>
			<string>{{846,1334},{280,278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/DeactiveAlternateMenuButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{210,213}</string>
			<key>spriteSourceSize</key>
			<string>{214,220}</string>
			<key>textureRect</key>
			<string>{{1128,1334},{210,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/DeactiveMenuButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{210,213}</string>
			<key>spriteSourceSize</key>
			<string>{214,220}</string>
			<key>textureRect</key>
			<string>{{1343,1334},{210,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/DiscordButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{165,162}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1558,1334},{165,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/DiscoverTabOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{1128,1546},{442,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/DiscoverTabOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{0,1614},{442,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/EditServerButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3,-7}</string>
			<key>spriteSize</key>
			<string>{305,311}</string>
			<key>spriteSourceSize</key>
			<string>{312,326}</string>
			<key>textureRect</key>
			<string>{{444,1614},{305,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/KickIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{80,80}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1572,1498},{80,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/ListBottom.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,15}</string>
			<key>spriteSize</key>
			<string>{1556,169}</string>
			<key>spriteSourceSize</key>
			<string>{1556,206}</string>
			<key>textureRect</key>
			<string>{{0,1921},{1556,169}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/ListSide.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{12,0}</string>
			<key>spriteSize</key>
			<string>{90,256}</string>
			<key>spriteSourceSize</key>
			<string>{119,256}</string>
			<key>textureRect</key>
			<string>{{1654,1498},{90,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/ListTop.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{1576,220}</string>
			<key>spriteSourceSize</key>
			<string>{1576,240}</string>
			<key>textureRect</key>
			<string>{{0,2092},{1576,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/ListTop1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{1576,220}</string>
			<key>spriteSourceSize</key>
			<string>{1576,240}</string>
			<key>textureRect</key>
			<string>{{0,2314},{1576,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/ListTop2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{1576,220}</string>
			<key>spriteSourceSize</key>
			<string>{1576,240}</string>
			<key>textureRect</key>
			<string>{{0,2536},{1576,220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/LocalLevelsTabOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{1578,1756},{442,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/LocalLevelsTabOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{1578,2200},{442,114}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/LoginButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,-1}</string>
			<key>spriteSize</key>
			<string>{165,162}</string>
			<key>spriteSourceSize</key>
			<string>{172,166}</string>
			<key>textureRect</key>
			<string>{{1578,2644},{165,162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/MenuButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{210,213}</string>
			<key>spriteSourceSize</key>
			<string>{214,220}</string>
			<key>textureRect</key>
			<string>{{0,2758},{210,213}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/MyLevelsTabOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{215,2758},{442,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/MyLevelsTabOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{659,2758},{442,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/ShareButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{147,151}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{1103,2758},{147,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/SharedWithMeTabOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{1256,2808},{442,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/SharedWithMeTabOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{442,114}</string>
			<key>spriteSourceSize</key>
			<string>{444,116}</string>
			<key>textureRect</key>
			<string>{{215,2874},{442,114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>alk.editor-collab-ui/UnbanIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{100,75}</string>
			<key>spriteSourceSize</key>
			<string>{120,120}</string>
			<key>textureRect</key>
			<string>{{1700,2808},{100,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/UserListButton.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{147,151}</string>
			<key>spriteSourceSize</key>
			<string>{152,158}</string>
			<key>textureRect</key>
			<string>{{659,2874},{147,151}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>alk.editor-collab-ui/ViewIcon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{110,82}</string>
			<key>spriteSourceSize</key>
			<string>{122,122}</string>
			<key>textureRect</key>
			<string>{{812,2874},{110,82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>alk.editor-collab-ui/TulipEditor-uhd.png</string>
		<key>size</key>
		<string>{1775,3021}</string>
		<key>textureFileName</key>
		<string>alk.editor-collab-ui/TulipEditor-uhd.png</string>
	</dict>
</dict>
</plist>