<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>raydeeux_limegradient.warbledcompletions/bluesky.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{0,0},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/blueskyAlpha.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{64,0},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/blueskyAlt.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{0,62},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/blueskyColon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{64,62},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/mastodon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{0,124},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>raydeeux_limegradient.warbledcompletions/web.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{62,60}</string>
			<key>spriteSourceSize</key>
			<string>{62,60}</string>
			<key>textureRect</key>
			<string>{{64,124},{62,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>raydeeux_limegradient.warbledcompletions/OtherSocialMediaButtons-hd.png</string>
		<key>size</key>
		<string>{126,184}</string>
		<key>textureFileName</key>
		<string>raydeeux_limegradient.warbledcompletions/OtherSocialMediaButtons-hd.png</string>
	</dict>
</dict>
</plist>