<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>geode.loader/baseAccount_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{86,83}</string>
				<key>textureRect</key>
				<string>{{472,316},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseAccount_Normal_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{86,83}</string>
				<key>textureRect</key>
				<string>{{784,0},{84,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseAccount_Normal_Purple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{86,83}</string>
				<key>textureRect</key>
				<string>{{784,85},{84,83}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCategory_Big_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{5,-4.5}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{209,208}</string>
				<key>textureRect</key>
				<string>{{211,0},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{112,645},{107,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{220,645},{107,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{562,554},{107,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{450,583},{107,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{328,609},{107,108}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Big_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{676,0},{107,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Big_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{107,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,113}</string>
				<key>textureRect</key>
				<string>{{676,109},{107,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{450,474},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{567,0},{108,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{567,112},{108,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{567,224},{108,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{562,336},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{562,445},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-2.5}</string>
				<key>spriteSize</key>
				<string>{108,111}</string>
				<key>spriteSourceSize</key>
				<string>{113,122}</string>
				<key>textureRect</key>
				<string>{{0,645},{108,111}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{0,333},{155,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{158,333},{155,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{411,0},{155,157}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{411,158},{155,157}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{316,316},{155,157}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Large_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{0,489},{155,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Large_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2}</string>
				<key>spriteSize</key>
				<string>{155,157}</string>
				<key>spriteSourceSize</key>
				<string>{161,167}</string>
				<key>textureRect</key>
				<string>{{158,489},{155,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{208,754},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{301,754},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{559,662},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{394,755},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{487,755},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{580,755},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Medium_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-2}</string>
				<key>spriteSize</key>
				<string>{92,92}</string>
				<key>spriteSourceSize</key>
				<string>{94,98}</string>
				<key>textureRect</key>
				<string>{{673,718},{92,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{676,218},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{676,318},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{674,418},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{674,518},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{671,618},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{0,754},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-3.5}</string>
				<key>spriteSize</key>
				<string>{99,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,114}</string>
				<key>textureRect</key>
				<string>{{104,754},{99,103}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{766,753},{75,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{0,854},{75,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{78,854},{75,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{156,854},{75,77}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Small_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{234,848},{75,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{310,848},{75,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_Small_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{75,77}</string>
				<key>spriteSourceSize</key>
				<string>{77,82}</string>
				<key>textureRect</key>
				<string>{{386,848},{75,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{784,170},{82,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{780,255},{82,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{780,338},{82,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{778,421},{82,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{778,504},{82,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{778,587},{82,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{82,84}</string>
				<key>spriteSourceSize</key>
				<string>{83,88}</string>
				<key>textureRect</key>
				<string>{{775,670},{82,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{254,263},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{308,263},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{503,691},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{863,583},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{863,636},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{860,689},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCircle_Tiny_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1.5}</string>
				<key>spriteSize</key>
				<string>{52,53}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>textureRect</key>
				<string>{{860,742},{52,53}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseCross_Huge_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-5.5}</string>
				<key>spriteSize</key>
				<string>{210,210}</string>
				<key>spriteSourceSize</key>
				<string>{229,229}</string>
				<key>textureRect</key>
				<string>{{0,0},{210,210}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseCross_Small_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3}</string>
				<key>spriteSize</key>
				<string>{134,133}</string>
				<key>spriteSourceSize</key>
				<string>{147,147}</string>
				<key>textureRect</key>
				<string>{{316,474},{134,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Aqua.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{67,72}</string>
				<key>textureRect</key>
				<string>{{472,400},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{462,848},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{528,848},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Cyan.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{594,848},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{660,848},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{726,831},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{792,831},{65,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Green.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{868,0},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{868,68},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Magenta.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{868,136},{65,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Orange.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{865,255},{65,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Pink.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{865,321},{65,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Salmon.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{865,387},{65,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseEditor_Normal_Teal.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-1}</string>
				<key>spriteSize</key>
				<string>{65,67}</string>
				<key>spriteSourceSize</key>
				<string>{66,69}</string>
				<key>textureRect</key>
				<string>{{863,453},{65,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{63,65}</string>
				<key>spriteSourceSize</key>
				<string>{67,71}</string>
				<key>textureRect</key>
				<string>{{437,691},{63,65}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1}</string>
				<key>spriteSize</key>
				<string>{63,65}</string>
				<key>spriteSourceSize</key>
				<string>{67,71}</string>
				<key>textureRect</key>
				<string>{{863,519},{63,65}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-0.5}</string>
				<key>spriteSize</key>
				<string>{69,67}</string>
				<key>spriteSourceSize</key>
				<string>{72,68}</string>
				<key>textureRect</key>
				<string>{{186,263},{69,67}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>geode.loader/baseTab_Normal_Selected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{185,58}</string>
				<key>spriteSourceSize</key>
				<string>{185,64}</string>
				<key>textureRect</key>
				<string>{{0,211},{185,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseTab_Normal_Unselected.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{185,62}</string>
				<key>spriteSourceSize</key>
				<string>{185,64}</string>
				<key>textureRect</key>
				<string>{{211,200},{185,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{185,62}</string>
				<key>spriteSourceSize</key>
				<string>{185,64}</string>
				<key>textureRect</key>
				<string>{{0,270},{185,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>geode.loader/BlankSheet-hd.png</string>
			<key>size</key>
			<string>{933,929}</string>
			<key>textureFileName</key>
			<string>geode.loader/BlankSheet-hd.png</string>
		</dict>
	</dict>
</plist>