<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>thesillydoggo.qolmod/absolllute.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{0,0},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/banner-mask.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{320,320}</string>
			<key>spriteSourceSize</key>
			<string>{320,320}</string>
			<key>textureRect</key>
			<string>{{258,0},{320,320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/draggable.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{84,84}</string>
			<key>spriteSourceSize</key>
			<string>{84,84}</string>
			<key>textureRect</key>
			<string>{{580,0},{84,84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/heart.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1,0}</string>
			<key>spriteSize</key>
			<string>{116,113}</string>
			<key>spriteSourceSize</key>
			<string>{118,114}</string>
			<key>textureRect</key>
			<string>{{0,258},{116,113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/joinDiscord.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{333,61}</string>
			<key>spriteSourceSize</key>
			<string>{333,61}</string>
			<key>textureRect</key>
			<string>{{118,322},{333,61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/menu.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{192,129}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{453,322},{192,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/qolmodButtonBG.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-4}</string>
			<key>spriteSize</key>
			<string>{179,182}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{0,385},{179,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/qolmodButtonOverlay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,-9}</string>
			<key>spriteSize</key>
			<string>{112,86}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{184,385},{112,86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/qolmodButtonOverlaycolonthree.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{126,106}</string>
			<key>spriteSourceSize</key>
			<string>{187,196}</string>
			<key>textureRect</key>
			<string>{{298,385},{126,106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>thesillydoggo.qolmod/questsBtn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{184,201}</string>
			<key>spriteSourceSize</key>
			<string>{184,201}</string>
			<key>textureRect</key>
			<string>{{426,453},{184,201}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>thesillydoggo.qolmod/replay.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{0,566},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>thesillydoggo.qolmod/QOLSheet_01-uhd.png</string>
		<key>size</key>
		<string>{664,822}</string>
		<key>textureFileName</key>
		<string>thesillydoggo.qolmod/QOLSheet_01-uhd.png</string>
	</dict>
</dict>
</plist>