<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>capeling.gamemode-switcher/dailyLevelCorner-brown.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-3.5}</string>
				<key>spriteSize</key>
				<string>{190,189}</string>
				<key>spriteSourceSize</key>
				<string>{198,198}</string>
				<key>textureRect</key>
				<string>{{0,0},{190,189}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/dailyLevelCorner-dark.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-3.5}</string>
				<key>spriteSize</key>
				<string>{190,189}</string>
				<key>spriteSourceSize</key>
				<string>{198,198}</string>
				<key>textureRect</key>
				<string>{{0,190},{190,189}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/dailyLevelCorner-gray.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-4,-3.5}</string>
				<key>spriteSize</key>
				<string>{190,189}</string>
				<key>spriteSourceSize</key>
				<string>{198,198}</string>
				<key>textureRect</key>
				<string>{{191,0},{190,189}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>capeling.gamemode-switcher/gravOff.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{191,191},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/gravOn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{0,380},{124,127}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>capeling.gamemode-switcher/platOff.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{128,380},{124,127}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>capeling.gamemode-switcher/platOn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{256,319},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/portalOff.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{316,191},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/portalOn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{381,0},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/reverseOff.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{381,319},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>capeling.gamemode-switcher/reverseOn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{0,505},{124,127}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>capeling.gamemode-switcher/sizeOff.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{128,505},{124,127}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>capeling.gamemode-switcher/sizeOn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-2.5}</string>
				<key>spriteSize</key>
				<string>{124,127}</string>
				<key>spriteSourceSize</key>
				<string>{134,142}</string>
				<key>textureRect</key>
				<string>{{256,447},{124,127}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>capeling.gamemode-switcher/SwitcherSheet_01-hd.png</string>
			<key>size</key>
			<string>{505,629}</string>
			<key>textureFileName</key>
			<string>capeling.gamemode-switcher/SwitcherSheet_01-hd.png</string>
		</dict>
	</dict>
</plist>