<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>capeling.gamemode-switcher/dailyLevelCorner-brown.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{190,189}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{0,0},{190,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>capeling.gamemode-switcher/dailyLevelCorner-dark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{190,189}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{192,0},{190,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>capeling.gamemode-switcher/dailyLevelCorner-gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-4}</string>
			<key>spriteSize</key>
			<string>{190,189}</string>
			<key>spriteSourceSize</key>
			<string>{198,198}</string>
			<key>textureRect</key>
			<string>{{0,191},{190,189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>capeling.gamemode-switcher/gravOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{384,0},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/gravOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{384,126},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/platOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{192,191},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/platOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{321,252},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/portalOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{192,317},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/portalOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{321,378},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/reverseOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{0,382},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/reverseOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{129,443},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/sizeOff.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{258,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>capeling.gamemode-switcher/sizeOn.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2,-3}</string>
			<key>spriteSize</key>
			<string>{124,127}</string>
			<key>spriteSourceSize</key>
			<string>{134,142}</string>
			<key>textureRect</key>
			<string>{{387,504},{124,127}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>capeling.gamemode-switcher/SwitcherSheet_01-uhd.png</string>
		<key>size</key>
		<string>{514,628}</string>
		<key>textureFileName</key>
		<string>capeling.gamemode-switcher/SwitcherSheet_01-uhd.png</string>
	</dict>
</dict>
</plist>