<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>minemaker0430.gddp_integration/DP_demonProgressionBtn.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{199,199}</string>
				<key>textureRect</key>
				<string>{{0,237},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_demonProgressionBtnAlt.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{199,199}</string>
				<key>spriteSourceSize</key>
				<string>{199,199}</string>
				<key>textureRect</key>
				<string>{{200,237},{199,199}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_Logo.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-1}</string>
				<key>spriteSize</key>
				<string>{249,236}</string>
				<key>spriteSourceSize</key>
				<string>{250,250}</string>
				<key>textureRect</key>
				<string>{{0,0},{249,236}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_Recommended.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{162,164}</string>
				<key>spriteSourceSize</key>
				<string>{162,164}</string>
				<key>textureRect</key>
				<string>{{0,437},{162,164}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_Roulette.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{155,177}</string>
				<key>spriteSourceSize</key>
				<string>{155,177}</string>
				<key>textureRect</key>
				<string>{{250,0},{155,177}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_Search.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{161,161}</string>
				<key>spriteSourceSize</key>
				<string>{161,161}</string>
				<key>textureRect</key>
				<string>{{165,437},{161,161}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_Support.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,69}</string>
				<key>spriteSourceSize</key>
				<string>{139,139}</string>
				<key>textureRect</key>
				<string>{{327,437},{103,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>minemaker0430.gddp_integration/DP_tabBack.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-0.5,-4}</string>
				<key>spriteSize</key>
				<string>{174,56}</string>
				<key>spriteSourceSize</key>
				<string>{185,64}</string>
				<key>textureRect</key>
				<string>{{250,156},{174,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>minemaker0430.gddp_integration/Menu-hd.png</string>
			<key>size</key>
			<string>{449,599}</string>
			<key>textureFileName</key>
			<string>minemaker0430.gddp_integration/Menu-hd.png</string>
		</dict>
	</dict>
</plist>