<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest_01_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{199,161}</string>
				<key>spriteSourceSize</key>
				<string>{199,161}</string>
				<key>textureRect</key>
				<string>{{692,1127},{199,161}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{193,155}</string>
				<key>spriteSourceSize</key>
				<string>{193,155}</string>
				<key>textureRect</key>
				<string>{{1230,611},{193,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{193,157}</string>
				<key>spriteSourceSize</key>
				<string>{193,161}</string>
				<key>textureRect</key>
				<string>{{1230,767},{193,157}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,7.5}</string>
				<key>spriteSize</key>
				<string>{152,13}</string>
				<key>spriteSourceSize</key>
				<string>{152,28}</string>
				<key>textureRect</key>
				<string>{{640,250},{152,13}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_01_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,29}</string>
				<key>spriteSize</key>
				<string>{326,67}</string>
				<key>spriteSourceSize</key>
				<string>{327,125}</string>
				<key>textureRect</key>
				<string>{{0,572},{326,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-35.5}</string>
				<key>spriteSize</key>
				<string>{193,82}</string>
				<key>spriteSourceSize</key>
				<string>{193,153}</string>
				<key>textureRect</key>
				<string>{{0,1291},{193,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,33}</string>
				<key>spriteSize</key>
				<string>{161,98}</string>
				<key>spriteSourceSize</key>
				<string>{162,164}</string>
				<key>textureRect</key>
				<string>{{654,492},{161,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_01_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,33}</string>
				<key>spriteSize</key>
				<string>{148,75}</string>
				<key>spriteSourceSize</key>
				<string>{148,141}</string>
				<key>textureRect</key>
				<string>{{246,640},{148,75}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{249,200}</string>
				<key>spriteSourceSize</key>
				<string>{249,201}</string>
				<key>textureRect</key>
				<string>{{640,0},{249,200}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{241,193}</string>
				<key>spriteSourceSize</key>
				<string>{241,194}</string>
				<key>textureRect</key>
				<string>{{0,847},{241,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{246,827},{241,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{794,250},{189,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,0},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_02_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{654,250},{241,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{1317,1081},{202,122}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_02_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{679,1314},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{241,193}</string>
				<key>spriteSourceSize</key>
				<string>{241,194}</string>
				<key>textureRect</key>
				<string>{{488,827},{241,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{730,809},{241,196}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{1388,767},{189,30}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_03_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,85},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{0,1041},{241,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{1230,242},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_03_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{773,1314},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{241,193}</string>
				<key>spriteSourceSize</key>
				<string>{241,194}</string>
				<key>textureRect</key>
				<string>{{1051,0},{241,193}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{1033,490},{241,196}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{818,735},{189,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,170},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{1051,242},{241,102}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{1154,365},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_04_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{867,1314},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{244,193}</string>
				<key>spriteSourceSize</key>
				<string>{244,194}</string>
				<key>textureRect</key>
				<string>{{573,615},{244,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2.5}</string>
				<key>spriteSize</key>
				<string>{241,196}</string>
				<key>spriteSourceSize</key>
				<string>{241,201}</string>
				<key>textureRect</key>
				<string>{{1033,732},{241,196}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{189,30}</string>
				<key>spriteSourceSize</key>
				<string>{189,49}</string>
				<key>textureRect</key>
				<string>{{818,766},{189,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,36.5}</string>
				<key>spriteSize</key>
				<string>{407,84}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,255},{407,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{242,1024},{241,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{202,122}</string>
				<key>spriteSourceSize</key>
				<string>{202,205}</string>
				<key>textureRect</key>
				<string>{{1230,488},{202,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_05_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,41.5}</string>
				<key>spriteSize</key>
				<string>{184,93}</string>
				<key>spriteSourceSize</key>
				<string>{184,176}</string>
				<key>textureRect</key>
				<string>{{1317,1284},{184,93}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{244,209}</string>
				<key>spriteSourceSize</key>
				<string>{244,227}</string>
				<key>textureRect</key>
				<string>{{841,0},{244,209}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,7.5}</string>
				<key>spriteSize</key>
				<string>{245,206}</string>
				<key>spriteSourceSize</key>
				<string>{247,221}</string>
				<key>textureRect</key>
				<string>{{408,408},{245,206}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{189,52}</string>
				<key>spriteSourceSize</key>
				<string>{189,55}</string>
				<key>textureRect</key>
				<string>{{892,1124},{189,52}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,340},{407,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{484,1024},{241,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,38.5}</string>
				<key>spriteSize</key>
				<string>{224,146}</string>
				<key>spriteSourceSize</key>
				<string>{224,223}</string>
				<key>textureRect</key>
				<string>{{0,1144},{224,146}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_06_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,27.5}</string>
				<key>spriteSize</key>
				<string>{184,114}</string>
				<key>spriteSourceSize</key>
				<string>{184,169}</string>
				<key>textureRect</key>
				<string>{{189,1374},{184,114}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9}</string>
				<key>spriteSize</key>
				<string>{244,209}</string>
				<key>spriteSourceSize</key>
				<string>{244,227}</string>
				<key>textureRect</key>
				<string>{{841,245},{244,209}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,7.5}</string>
				<key>spriteSize</key>
				<string>{245,206}</string>
				<key>spriteSourceSize</key>
				<string>{247,221}</string>
				<key>textureRect</key>
				<string>{{0,640},{245,206}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{189,52}</string>
				<key>spriteSourceSize</key>
				<string>{189,55}</string>
				<key>textureRect</key>
				<string>{{194,1314},{189,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{408,0},{407,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{726,1021},{241,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,38}</string>
				<key>spriteSize</key>
				<string>{224,147}</string>
				<key>spriteSourceSize</key>
				<string>{224,223}</string>
				<key>textureRect</key>
				<string>{{242,1127},{224,147}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_07_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,25}</string>
				<key>spriteSize</key>
				<string>{184,109}</string>
				<key>spriteSourceSize</key>
				<string>{184,159}</string>
				<key>textureRect</key>
				<string>{{374,1367},{184,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,11}</string>
				<key>spriteSize</key>
				<string>{244,214}</string>
				<key>spriteSourceSize</key>
				<string>{244,236}</string>
				<key>textureRect</key>
				<string>{{818,490},{244,214}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,10}</string>
				<key>spriteSize</key>
				<string>{245,211}</string>
				<key>spriteSourceSize</key>
				<string>{247,231}</string>
				<key>textureRect</key>
				<string>{{327,615},{245,211}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_03_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1.5}</string>
				<key>spriteSize</key>
				<string>{189,52}</string>
				<key>spriteSourceSize</key>
				<string>{189,55}</string>
				<key>textureRect</key>
				<string>{{384,1314},{189,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{0,456},{407,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-44.5}</string>
				<key>spriteSize</key>
				<string>{241,102}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{972,974},{241,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,36}</string>
				<key>spriteSize</key>
				<string>{224,151}</string>
				<key>spriteSourceSize</key>
				<string>{224,223}</string>
				<key>textureRect</key>
				<string>{{467,1127},{224,151}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_08_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,26.5}</string>
				<key>spriteSize</key>
				<string>{184,112}</string>
				<key>spriteSourceSize</key>
				<string>{184,165}</string>
				<key>textureRect</key>
				<string>{{961,1276},{184,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_09_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{221,198}</string>
				<key>spriteSourceSize</key>
				<string>{221,200}</string>
				<key>textureRect</key>
				<string>{{968,1077},{221,198}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_09_03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{219,200}</string>
				<key>spriteSourceSize</key>
				<string>{221,202}</string>
				<key>textureRect</key>
				<string>{{1245,0},{219,200}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_03_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,21}</string>
				<key>spriteSize</key>
				<string>{407,115}</string>
				<key>spriteSourceSize</key>
				<string>{409,157}</string>
				<key>textureRect</key>
				<string>{{524,0},{407,115}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_04_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,-42.5}</string>
				<key>spriteSize</key>
				<string>{218,106}</string>
				<key>spriteSourceSize</key>
				<string>{241,191}</string>
				<key>textureRect</key>
				<string>{{1214,974},{218,106}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_09_04_back_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,39.5}</string>
				<key>spriteSize</key>
				<string>{209,126}</string>
				<key>spriteSourceSize</key>
				<string>{212,213}</string>
				<key>textureRect</key>
				<string>{{1190,1081},{209,126}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_04_glow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,26.5}</string>
				<key>spriteSize</key>
				<string>{184,112}</string>
				<key>spriteSourceSize</key>
				<string>{184,165}</string>
				<key>textureRect</key>
				<string>{{961,1389},{184,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_glow_bg_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-133,-18}</string>
				<key>spriteSize</key>
				<string>{101,46}</string>
				<key>spriteSourceSize</key>
				<string>{367,82}</string>
				<key>textureRect</key>
				<string>{{1315,1469},{101,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chest_shadow_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{239,36}</string>
				<key>spriteSourceSize</key>
				<string>{239,36}</string>
				<key>textureRect</key>
				<string>{{757,250},{239,36}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest03_small_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-1}</string>
				<key>spriteSize</key>
				<string>{61,50}</string>
				<key>spriteSourceSize</key>
				<string>{61,52}</string>
				<key>textureRect</key>
				<string>{{559,1466},{61,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>getOrbsLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-4}</string>
				<key>spriteSize</key>
				<string>{111,74}</string>
				<key>spriteSourceSize</key>
				<string>{111,82}</string>
				<key>textureRect</key>
				<string>{{1154,242},{111,74}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>gj_videoRewardBtn_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1,0}</string>
				<key>spriteSize</key>
				<string>{188,145}</string>
				<key>spriteSourceSize</key>
				<string>{190,145}</string>
				<key>textureRect</key>
				<string>{{0,1374},{188,145}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>plushies_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4,1.5}</string>
				<key>spriteSize</key>
				<string>{186,104}</string>
				<key>spriteSourceSize</key>
				<string>{196,109}</string>
				<key>textureRect</key>
				<string>{{574,1279},{186,104}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-49.5}</string>
				<key>spriteSize</key>
				<string>{93,133}</string>
				<key>spriteSourceSize</key>
				<string>{98,232}</string>
				<key>textureRect</key>
				<string>{{1146,1291},{93,133}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>shopRope2_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{327,572},{27,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-49.5}</string>
				<key>spriteSize</key>
				<string>{84,133}</string>
				<key>spriteSourceSize</key>
				<string>{90,232}</string>
				<key>textureRect</key>
				<string>{{1146,1385},{84,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope3_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{374,1477},{27,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope4_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-49.5}</string>
				<key>spriteSize</key>
				<string>{83,133}</string>
				<key>spriteSourceSize</key>
				<string>{88,232}</string>
				<key>textureRect</key>
				<string>{{1231,1385},{83,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope4_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{355,572},{27,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-49.5}</string>
				<key>spriteSize</key>
				<string>{93,133}</string>
				<key>spriteSourceSize</key>
				<string>{102,232}</string>
				<key>textureRect</key>
				<string>{{1446,0},{93,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>shopRope5_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0}</string>
				<key>spriteSize</key>
				<string>{27,42}</string>
				<key>spriteSourceSize</key>
				<string>{32,42}</string>
				<key>textureRect</key>
				<string>{{402,1477},{27,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>GJ_ShopSheet-hd.png</string>
			<key>size</key>
			<string>{1539,1519}</string>
			<key>textureFileName</key>
			<string>GJ_ShopSheet-hd.png</string>
		</dict>
	</dict>
</plist>