<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dungeon_bars_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{223,250}</string>
				<key>spriteSourceSize</key>
				<string>{223,250}</string>
				<key>textureRect</key>
				<string>{{0,69},{223,250}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dungeon_bars_bottom_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{230,20}</string>
				<key>spriteSourceSize</key>
				<string>{230,20}</string>
				<key>textureRect</key>
				<string>{{251,69},{230,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dungeon_foreground_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-1.5,1.5}</string>
				<key>spriteSize</key>
				<string>{616,68}</string>
				<key>spriteSourceSize</key>
				<string>{619,71}</string>
				<key>textureRect</key>
				<string>{{0,0},{616,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dungeonTorch_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{60,76}</string>
				<key>spriteSourceSize</key>
				<string>{67,83}</string>
				<key>textureRect</key>
				<string>{{141,494},{60,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_secretLock2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{137,140}</string>
				<key>spriteSourceSize</key>
				<string>{140,147}</string>
				<key>textureRect</key>
				<string>{{0,494},{137,140}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock2_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-80.5}</string>
				<key>spriteSize</key>
				<string>{70,86}</string>
				<key>spriteSourceSize</key>
				<string>{74,247}</string>
				<key>textureRect</key>
				<string>{{518,151},{70,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_secretLock3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-43.5}</string>
				<key>spriteSize</key>
				<string>{148,229}</string>
				<key>spriteSourceSize</key>
				<string>{152,318}</string>
				<key>textureRect</key>
				<string>{{251,90},{148,229}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock4_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{153,152}</string>
				<key>spriteSourceSize</key>
				<string>{153,153}</string>
				<key>textureRect</key>
				<string>{{221,293},{153,152}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock4_eyes_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,9.5}</string>
				<key>spriteSize</key>
				<string>{88,42}</string>
				<key>spriteSourceSize</key>
				<string>{88,61}</string>
				<key>textureRect</key>
				<string>{{523,108},{88,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretBody_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-11,-1}</string>
				<key>spriteSize</key>
				<string>{220,200}</string>
				<key>spriteSourceSize</key>
				<string>{242,202}</string>
				<key>textureRect</key>
				<string>{{0,293},{220,200}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretDoor_closed_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{108,141}</string>
				<key>spriteSourceSize</key>
				<string>{111,156}</string>
				<key>textureRect</key>
				<string>{{374,381},{108,141}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>secretDoor_open_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-18.5,-7.5}</string>
				<key>spriteSize</key>
				<string>{148,141}</string>
				<key>spriteSourceSize</key>
				<string>{185,156}</string>
				<key>textureRect</key>
				<string>{{374,239},{148,141}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretEyes_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{88,35}</string>
				<key>spriteSourceSize</key>
				<string>{88,36}</string>
				<key>textureRect</key>
				<string>{{482,69},{88,35}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>secretEyes_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{92,38}</string>
				<key>spriteSourceSize</key>
				<string>{92,39}</string>
				<key>textureRect</key>
				<string>{{523,69},{92,38}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretLock01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{83,84}</string>
				<key>spriteSourceSize</key>
				<string>{85,87}</string>
				<key>textureRect</key>
				<string>{{523,238},{83,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>secretLock02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{83,84}</string>
				<key>spriteSourceSize</key>
				<string>{85,87}</string>
				<key>textureRect</key>
				<string>{{523,322},{83,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>secretLock03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{1,-1.5}</string>
				<key>spriteSize</key>
				<string>{83,84}</string>
				<key>spriteSourceSize</key>
				<string>{85,87}</string>
				<key>textureRect</key>
				<string>{{516,406},{83,84}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>SecretSheet-hd.png</string>
			<key>size</key>
			<string>{616,631}</string>
			<key>textureFileName</key>
			<string>SecretSheet-hd.png</string>
		</dict>
	</dict>
</plist>