<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>dungeon_bars_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0.5,0}</string>
				<key>spriteSize</key>
				<string>{444,500}</string>
				<key>spriteSourceSize</key>
				<string>{445,500}</string>
				<key>textureRect</key>
				<string>{{0,137},{444,500}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>dungeon_bars_bottom_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0.5}</string>
				<key>spriteSize</key>
				<string>{460,39}</string>
				<key>spriteSourceSize</key>
				<string>{460,40}</string>
				<key>textureRect</key>
				<string>{{501,137},{460,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dungeon_foreground_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-3,3}</string>
				<key>spriteSize</key>
				<string>{1232,136}</string>
				<key>spriteSourceSize</key>
				<string>{1238,142}</string>
				<key>textureRect</key>
				<string>{{0,0},{1232,136}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dungeonTorch_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7,-7}</string>
				<key>spriteSize</key>
				<string>{119,152}</string>
				<key>spriteSourceSize</key>
				<string>{133,166}</string>
				<key>textureRect</key>
				<string>{{913,758},{119,152}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>GJ_secretLock2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3,-6.5}</string>
				<key>spriteSize</key>
				<string>{274,281}</string>
				<key>spriteSourceSize</key>
				<string>{280,294}</string>
				<key>textureRect</key>
				<string>{{0,983},{274,281}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock2_2_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{3.5,-160.5}</string>
				<key>spriteSize</key>
				<string>{141,173}</string>
				<key>spriteSourceSize</key>
				<string>{148,494}</string>
				<key>textureRect</key>
				<string>{{1042,648},{141,173}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock3_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-87}</string>
				<key>spriteSize</key>
				<string>{298,460}</string>
				<key>spriteSourceSize</key>
				<string>{304,636}</string>
				<key>textureRect</key>
				<string>{{501,177},{298,460}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock4_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1}</string>
				<key>spriteSize</key>
				<string>{305,303}</string>
				<key>spriteSourceSize</key>
				<string>{305,305}</string>
				<key>textureRect</key>
				<string>{{441,582},{305,303}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>GJ_secretLock4_eyes_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,19}</string>
				<key>spriteSize</key>
				<string>{176,84}</string>
				<key>spriteSourceSize</key>
				<string>{176,122}</string>
				<key>textureRect</key>
				<string>{{1042,493},{176,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretBody_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-22,-2}</string>
				<key>spriteSize</key>
				<string>{440,400}</string>
				<key>spriteSourceSize</key>
				<string>{484,404}</string>
				<key>textureRect</key>
				<string>{{0,582},{440,400}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretDoor_closed_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2,-15.5}</string>
				<key>spriteSize</key>
				<string>{217,281}</string>
				<key>spriteSourceSize</key>
				<string>{221,312}</string>
				<key>textureRect</key>
				<string>{{962,137},{217,281}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretDoor_open_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{-37,-15.5}</string>
				<key>spriteSize</key>
				<string>{296,281}</string>
				<key>spriteSourceSize</key>
				<string>{370,312}</string>
				<key>textureRect</key>
				<string>{{745,476},{296,281}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretEyes_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,1.5}</string>
				<key>spriteSize</key>
				<string>{176,69}</string>
				<key>spriteSourceSize</key>
				<string>{176,72}</string>
				<key>textureRect</key>
				<string>{{1042,578},{176,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretEyes_02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,2}</string>
				<key>spriteSize</key>
				<string>{183,73}</string>
				<key>spriteSourceSize</key>
				<string>{183,77}</string>
				<key>textureRect</key>
				<string>{{1042,419},{183,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretLock01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{164,167}</string>
				<key>spriteSourceSize</key>
				<string>{169,174}</string>
				<key>textureRect</key>
				<string>{{282,983},{164,167}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>secretLock02_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{164,167}</string>
				<key>spriteSourceSize</key>
				<string>{169,174}</string>
				<key>textureRect</key>
				<string>{{745,758},{164,167}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>secretLock03_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,-3.5}</string>
				<key>spriteSize</key>
				<string>{164,167}</string>
				<key>spriteSourceSize</key>
				<string>{169,174}</string>
				<key>textureRect</key>
				<string>{{447,888},{164,167}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>SecretSheet-uhd.png</string>
			<key>size</key>
			<string>{1232,1257}</string>
			<key>textureFileName</key>
			<string>SecretSheet-uhd.png</string>
		</dict>
	</dict>
</plist>