<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest_03_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{324,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_04_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{391,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_05_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{458,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_06_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{525,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_07_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{592,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_08_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{659,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chest_09_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{228,86}</string>
				<key>spriteSourceSize</key>
				<string>{228,86}</string>
				<key>textureRect</key>
				<string>{{237,222},{228,86}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chestPlatform_01_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{4.5,-5}</string>
				<key>spriteSize</key>
				<string>{309,62}</string>
				<key>spriteSourceSize</key>
				<string>{318,72}</string>
				<key>textureRect</key>
				<string>{{1169,114},{309,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>chestSpecial_01_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{726,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chestSpecial_02_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{793,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>chestSpecial_03_price_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{218,66}</string>
				<key>spriteSourceSize</key>
				<string>{218,66}</string>
				<key>textureRect</key>
				<string>{{860,222},{218,66}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>tier1label_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{7.5,-8.5}</string>
				<key>spriteSize</key>
				<string>{289,95}</string>
				<key>spriteSourceSize</key>
				<string>{304,112}</string>
				<key>textureRect</key>
				<string>{{1783,114},{289,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>tier2label_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{8.5,-8.5}</string>
				<key>spriteSize</key>
				<string>{303,95}</string>
				<key>spriteSourceSize</key>
				<string>{320,112}</string>
				<key>textureRect</key>
				<string>{{1479,114},{303,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>treasureRoomGround_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{2136,113}</string>
				<key>spriteSourceSize</key>
				<string>{2136,113}</string>
				<key>textureRect</key>
				<string>{{0,0},{2136,113}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>treasureRoomLabel_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{0,-0.5}</string>
				<key>spriteSize</key>
				<string>{1168,107}</string>
				<key>spriteSourceSize</key>
				<string>{1246,140}</string>
				<key>textureRect</key>
				<string>{{0,114},{1168,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>treasureRoomSpiderweb_001.png</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>spriteOffset</key>
				<string>{2.5,0.5}</string>
				<key>spriteSize</key>
				<string>{236,234}</string>
				<key>spriteSourceSize</key>
				<string>{241,235}</string>
				<key>textureRect</key>
				<string>{{0,222},{236,234}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>pixelFormat</key>
			<string>RGBA8888</string>
			<key>premultiplyAlpha</key>
			<false/>
			<key>realTextureFileName</key>
			<string>TreasureRoomSheet-uhd.png</string>
			<key>size</key>
			<string>{2136,456}</string>
			<key>textureFileName</key>
			<string>TreasureRoomSheet-uhd.png</string>
		</dict>
	</dict>
</plist>